html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Sriracha', cursive;
  font-size: 2vh;
}

a,
a:visited,
a:active {
  color: inherit;
  letter-spacing: 0.2ch;
}
.warn a:hover {
  color: #6c0;
}

.warn-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
}
.warn {
  color: chartreuse;
  font-weight: bolder;
  font-size: 3vw;
  margin: 1em;
  background-color: crimson;
}
.warn-inner {
  position: relative;
  padding: 1em;
}
.close {
  position: absolute;
  top: 0.7ch;
  right: 0.7ch;
  line-height: 0.8em;
  font-weight: bolder;
  transition: color 0.15s ease-out;
  color: #6c0;
}

.close:hover {
  color: black;
  cursor: pointer;
}

.sheet {
  position: absolute;
  top: 0;
  transition: top 2s ease-in;
  background-color: white;
  width: 100%;
  max-width: 45vh;
  height: 69vh;
  margin-left: 0.5vw;
  left: 50%;
  margin-left: -24.5vh;
  padding: 3vh 2vh;
  text-align: center;
}

#container {
  position: relative;
  width: 100%;
  max-width: 50vh;
  height: 75vh;
  margin-right: auto;
  margin-left: auto;
}

#content {
  width: 100%;
  max-width: 60vh;
  height: 97vh;
  background-color: lightslategray;
  color: black;
  margin: 1vh auto;
  border: solid 0.5vh;
}
.topbar {
  width: 100%;
  height: 10%;
  background-color: #fff;
}

.latch {
  background-color: black;
  position: relative;
  top: 2%;
  left: 30%;
  width: 40%;
  height: 6%;
  /* z-index: 99; -- why? just don't add random z-index */
}

.logo {
  position: relative;
  background-color: crimson;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
}

.leftarrow {
  position: relative;
  color: white;
  bottom: 2%;
  left: 0;
  font-size: 7vh;
  margin-bottom: 0;
  max-width: 10%;
}

h1 {
  margin-left: 25%;
  margin-top: -13%;
  margin-bottom: auto;
  font-size: 5.2vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*temporary*/
  font-weight: 700;
}
h2 {
  font-size: 3vh;
}
h3 {
  font-size: 2vh;
  font-weight: 300;
}

.option {
  width: 10vw;
  height: 10vw;
  max-width: 20vh;
  max-height: 20vh;
  border: solid black 0.5vh;
}

.check path {
  fill: none;
  stroke: #444;
  stroke-miterlimit: 20;
  stroke-width: 20%;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 1.5s linear forwards;
}

svg {
  overflow: visible;
  position: relative;
  bottom: 50%;
  left: -20%;
  width: 5vh;
  height: 6vh;
}

@keyframes draw {
  from {
    stroke-linecap: round;
  }
  to {
    stroke-linecap: round;
    stroke-dashoffset: 0;
  }
}

.checkbox {
  border: 0.4vh solid black;
  width: 5vh;
  height: 5vh;
  margin-top: 10vh;
  margin-left: 5vh;
  margin-right: 100%;
  float: left;
}
.checkbox:hover {
  cursor: pointer;
}

.thrown-out {
  top: 100vh;
  /* z-index: 10; -- ok, I know why but just don't add random z-index...
     I have started to add sheets in reverse order so this line is not necessary anymore */
}

input[type='number'] {
  border: 0;
  border-bottom: dotted;
  text-align: center;
  font-family: 'Sriracha', cursive;
  width: 12vw;
  font-size: 3vh;
}

.image {
  width: 95%;
  /* height: 35%; -- I am pretty sure images will be in proper resolution
     but if they weren't, this line would mess the rendering up. */
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

.image > img {
  width: 100%;
  height: auto;
}
